@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #FFFFFF;
}

.navbar-container {
  background-color: #303030;
  padding: 20px 0;
}

.banner-container {
  background-color: #D6E9FE;
  background-image: url("images/banner.jpeg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
}

.photo-grid-container {
  background-color: #F0F0F0;
}

.photo-grid-container img {
  margin: 10px 0;
  object-fit: cover;
  width: 280px;
  height: 280px;
}
